section.up {
    width: 100%;
    height: 100vh;
}

.intro-sec {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.intro-sec-text {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    font-size: 8vw;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    color: #fff;
}

.my-sec {
    width: 100%;
    background: #fff;
}

.my-sec-id-pic {
    width: 100%;
    height: 100%;
    position: relative;
}

.my-sec-id-pic>img {
    width: 40vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.my-sec-id-text p,
.my-sec-id-text a {
    font-size: 13vw;
    font-weight: 900;
    color: #000;
    text-decoration: inherit;
    cursor: default;
}

.my-sec-id-text a {
    cursor: pointer;
}

.my-sec-id-pic {
    position: relative;
}

.my-sec-id-skill {
    width: 34%;
    position: absolute;
    bottom: 3vw;
    right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.my-sec-id-skill img {
    height: 7vw;
    filter: grayscale(100%) brightness(0.3);
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-120px);
    will-change: transform, opacity;
}

.my-sec-id-skill img:hover {
    filter: grayscale(0%) brightness(1);
}

.portfolio-btn {
    width: 10vw;
    height: 3vw;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: all 0.2s ease;
}

.portfolio-btn:hover {
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .3);
    background: #000;
    color: #fff;
}

.portfolio-btn a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.my-sec-id-button {
    opacity: 0;
    transform: translateY(50px);
    position: absolute;
    right: 12vw;
    bottom: 23vw;
}

.my-sec-id-pop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.my-sec-id-pop.active {
    display: block;
    pointer-events: auto;
}

.black-bg {
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
}

.id-pop-cont {
    width: 40%;
    padding: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 0 5px 3px rgba(228, 243, 255, 0.4);
    border-radius: 10px;
}

.id-pop-cont i {
    position: absolute;
    top: 1vw;
    right: 1vw;
    font-size: 2vw;
    cursor: pointer;
}

.id-pop-cont i:hover {
    transform: rotate(90deg);
}

.id-pop-cont .self-intro {
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #ddd;
}

.id-pop-cont .self-intro p,
.id-pop-cont .self-intro a {
    font-size: 20px;
    line-height: 1.6;
}

.id-pop-cont .self-intro a {
    font-weight: 700;
}

.id-pop-cont .career h3 {
    font-size: 30px;
    padding-bottom: 1vw;
}

.id-pop-cont .career .flex-area {
    gap: 2vw;
    align-items: baseline;
    margin-bottom: 14px;
}

.id-pop-cont .career .year {
    width: 10vw;
}

.id-pop-cont .career .career-text {
    line-height: 1.6;
}

.id-pop-cont .career .career-text .s-text {
    font-size: 14px;
    font-weight: 600;
}

.id-pop-cont .career .career-text .s-text span {
    color: #999;
    font-weight: 400;
}

.id-pop-cont>.flex-area {
    justify-content: space-evenly;
}

.id-pop-cont .portfolio-btn {
    margin-top: 30px;
}

.id-pop-cont .portfolio-btn a {
    text-transform: uppercase;
}